body {
    background-image: url(/public/images/paper.png);
    text-align: center;
    font-size: 15px;
    margin: 0;
}
table {
    border-collapse: collapse;
    margin: auto;
}
#game td {
    width: 70px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
}
#res {
    position: absolute;
    min-width: 70px;
    top: 100px;
    right: 10px;
}
#game tr:nth-child(even) {
    border-top: black groove 3px;
    border-bottom: black groove 3px;
}
#game td:nth-child(even) {
    border-left: black groove 3px;
    border-right: black groove 3px;
}
button{
    height: 30px;
    width: 100px;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 25px;
}
button:hover{
    cursor: pointer;
    color: red;
}