###############################################################################
#
# ignore linguist-vendored for `min.js`, `html` and `css` files:
#
###############################################################################
*.js linguist-vendored=false
*.css linguist-vendored=false
*.html linguist-vendored=false

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
