###############################################################################
#
# ignore linguist-vendored for `min.js`, `html` and `css` files:
#
###############################################################################
*.js linguist-language=Go
*.css linguist-language=Go
*.html linguist-language=Go

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
