body {
    background-image: url(/public/images/paper.png);
    text-align: center;
    font-size: 15px;
    margin: 0;
}
table {
    border-collapse: collapse;
    margin: auto;
}
#game td, #game tr {
    width: 70px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    border: black 3px;
}
#res {
    position: absolute;
    min-width: 70px;
    top: 100px;
    right: 10px;
}
#game tr:nth-child(even) {
    border-style: groove none groove none;
}
#game td:nth-child(even) {
    border-style: none groove none groove;
}
button{
    height: 30px;
    width: 100px;
    border: 0;
    background: none;
    box-shadow: none;
    font-size: 25px;
}
button:hover{
    cursor: pointer;
    color: red;
}